.header {
    position: fixed;
    display: flex;
    top: 0;
    width: 100%;
    background-color: white;
    height: 95px;
}

.logo {
    display: flex;
    position: relative;
    height: 80px;
    width: 100px;
    margin: 0%;
}

#hola{
    width: 100%;
    position: fixed;
}


.cart-icon {
    font-size: 24px;
    cursor: pointer;
    justify-content: right;
}

.main-container {
    margin-top: 150px;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
}
.cards-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: 20px;
    padding: 20px;
    text-align: center;
}

.card img {
    max-width: 100%;
    border-radius: 10px;
}

.card h2 {
    margin: 10px 0;
    font-size: 22px;
}

.card p {
    font-size: 16px;
    color: #555;
}

.add-to-cart {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
    font-weight: bold;
}

.add-to-cart:hover {
    background-color: #444;
}

.cart-section {
    text-align: center;
    margin: 40px auto;
    max-width: 600px;
}

.cart-items {
    margin-bottom: 20px;
}

.cart-total {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

.checkout {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
    font-weight: bold;
}

.checkout:hover {
    background-color: #444;
}


footer {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
}

.footer-container {
    display: flex;
    justify-content: center; 
}

.footer-container > div {
    margin: 0 50px; 
}

footer h3 {
    margin-bottom: 10px;
}

footer p {
    margin-bottom: 15px;
}

.boton-instagram {
    display: inline-block;
    width: 40px; 
    height: 40px;
    background-image: url('https://e7.pngegg.com/pngimages/554/20/png-clipart-logo-computer-icons-instagram-logo-white-text.png'); 
    background-size: cover; 
    background-position: center; 
    text-indent: -9999px; 
}

.boton-instagram:hover {
    opacity: 0.8; 
}
