* {
    text-decoration: none;
    list-style: none;
}

.header {
    position: fixed;
    display: flex;
    top: 0;
    width: 100%;
    background-color: white;
    height: 95px;
}

.container{
    height: 90px;
    margin-top: 0%;
    display: flex;
}
.container-fluid{
    width: 100%;
}

.logo {
    display: flex;
    position: relative;
    height: 80px;
    width: 100px;
    margin: 0%;
}


main {
    margin-top: 250px; 
}

.navbar a {
    color: black;
    text-decoration: none;
}

.proyectos{
    color:black;
}

.nosotros{
    color:black
}
.contactanos{
    color:black
}
.contenedor-main{
    display:flex;
}

.p{
    max-width: 80%; 
    margin: 0 auto;
    text-align: right;
    align-items: center;
}

.primer-titulo{
    font-size: 80px;
    width: 40vw;
    margin-top: 0px; 
    margin-right: 10px;

}

.parrafo-principal{
    margin-right: 10px;
    max-width: 30vw;
    font-size: 25px;
    line-height: 1.5;

}

.construcciones-1 img{
    margin-top: 120px;
    width: 100vw; 
}

.construcciones-2{
    display: flex;
    align-items: center;
    margin-top: 180px;
    margin-bottom: 200px;
}

.fotogrande2{
    width: 100vw;
}


.foto2{
    width: 60vw;
    height: 750px;
    right: 0;
}

.txt-parrafo{
    text-align: left;
    width: 30vw;
    font-size: 30px;
    line-height: 1.5;
    margin: 25px;
}


.construcciones-3{
    display: flex;
    align-items: center;
    margin-top: 90px;
}

.foto3{
    width: 60vw;
    height: 750px;
    margin: 80px;
}

.txt-parrafo2{
    text-align: left;
    width: 30vw;
    font-size: 30px;
    line-height: 1.5;
    margin: 25px;

}

.fotogrande2{
    width: 100vw;
    margin-top: 120px;
}

.foto4{ 
    width: 100vw;
    margin-top: 120px; 
}


.footer-container{
    display:flex;
    width: 100vw;
    height: 250px;
    justify-content: space-around;
    align-items: center;
    max-width: 1200px; 
    padding: 0 0px;
    font-size: 15px;
}

.footer-container2{
    display: flex;
    align-items: center;
    font-size: 17px;
    justify-content: space-around;
    margin-top: -80px;
    flex-direction: row;
    max-width: 1200px; 
    padding: 0 0px;
   
}
.mainproyectos{ 
    display: flex;
    flex-direction: column; 
 
    margin-top: 150px;
    flex-wrap: wrap;
}

.titulo-l{
    margin-bottom: 40px;
}

.card{
    justify-content: center;
    margin-bottom: 50px;
}





@media only screen and (max-width: 600px) {

    .header {
        display: flex;
        position: sticky;
        top: 0;
        width: 100%;
        background-color: white;
        z-index: 1000; 
        height: 85px;
    }

    .logo {
        display: flex;
        position: sticky;
        height: 64px;
        width: 90px;
        margin-top: 0px; 
    }


    .contenedor-main {
        display: flex;
        flex-direction: column;
        align-items: center; 
    }
    
    .primer-titulo {
        margin-top: -200px;
        margin-bottom: 60px;
        font-size: 50px;
        align-self: justify;
        text-align: center;
        margin-right: 190px;
        justify-content: center;
    }
    
    .parrafo-principal {
        font-size: 20px; 
        text-align: center; 
        max-width: 90%;
        margin-bottom: -70px;
    }

    .fotoinicio{
        margin-bottom: -120px;
    }

    .construcciones-2 {
        display: flex;
        flex-direction: column;
        align-items: center; 
        margin-bottom: -10px;
    }

    .txt-parrafo{
        font-size: 20px;
        text-align: center;
        max-width: none; 
        width: 100%; 
        white-space: wrap; 
        overflow-x: auto; 
        margin-bottom: 70px;
        margin-top: 10px;
    
    }

    .foto2{
        width: 100vw;
        height: 220px;
        margin-bottom: 60px;
    }

    .construcciones-3{
        display: flex;
        flex-direction: column;
        align-items: center; 

    }

    .txt-parrafo2{
        font-size: 20px;
        text-align: center;
        max-width: none; 
        width: 100%; 
        white-space: wrap; 
        overflow-x: auto; 
        margin-bottom: 10px;
        margin-top: 0px;
    }

    .foto3{
        width: 100vw;
        height: 220px;
        margin-bottom: 5px;
    }

    .foto4{
        width: 100vw;
        height: 220px;
        margin-top: 60px;

    }

    p{
        max-width: 40%; 
        margin: 0 auto;
        align-items: center;
    }
    .container-fluid{
        width: 100%;
    }
    #hola{
        width: 100%;
        position: fixed;
    }

    .footer-container2{
        display: flex;
        align-items: center;
        font-size: 15px;
        justify-content: space-between;
    }
    .card{
        width: 100vw;
    }


    .card-text{
        font-size: 20px;
        text-align: center;
        max-width: none; 
        width: 100%;
        overflow-x: auto; 
        margin-bottom: 10px;
        margin-top: 0px;
    }
    .mainproyectos{
        margin-top: 50px;

    }
   

}
